<mat-drawer-container class="example-container" autosize>

  <!-- SIDEBAR -->
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">


    <img width="50" height="50" src="../../assets/img/avatar.svg">

    <p>{{ (authUser$ | async)?.nombre }}</p>
    
    <p>{{ (authUser$ | async)?.email }}</p>
    <p>{{ (authUser$ | async)?.role }}</p>


    <mat-nav-list>
      <ng-container *ngFor="let link of links">
        <a
          [routerLink]="link.path"
          mat-list-item
          *ngIf="
            !link.allowedRoles.length || (verifyRole(link) | async)
          "
        >
          <mat-icon *ngIf="link.icon">{{ link.icon }}</mat-icon>
          {{ link.title }}
        </a>
      </ng-container>
      <a (click)="logout()" mat-list-item> Cerrar sesión </a>
    </mat-nav-list>

    <!-- <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      {{ showFiller ? 'Show less' : 'Show more'}}
    </button> -->


  </mat-drawer>

  <!-- MI WRAPPER  -->
  <div class="example-sidenav-content">
    <!-- TOOLBAR  -->
    <mat-toolbar color="primary">
      <div class="flex justify-content-between">
        <div>
          <button
            (click)="drawer.toggle()"
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <span>Modulo de Gestion Coder </span>
          <span class="example-spacer"></span>
          <button
            mat-icon-button
            class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon"
          >
            <mat-icon>code</mat-icon>
          </button>

        </div>
        <p>{{ (authUser$ | async)?.nombre }}</p>
      </div>
    </mat-toolbar>

    <!-- MIS PAGINAS -->
    <main>
      <router-outlet></router-outlet>

      <!-- <app-cards></app-cards> -->

      <!-- <app-buttons-and-icons></app-buttons-and-icons> -->

      <!-- <app-formularios></app-formularios> -->

      <!-- <app-dialogs></app-dialogs> -->

      <!-- <app-tablas></app-tablas> -->

      <!-- <app-patron-iterador></app-patron-iterador> -->

      <!-- <app-observables></app-observables> -->
    </main>
  </div>
</mat-drawer-container>
